<!DOCTYPE html>
<html>
  <head>
    <title>Nell Himlie</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nell Himlie">
    <meta name="description" content="A Personal Blog">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/maintenance.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link href="../static/made.png" type="image/x-icon" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <img src="../static/hangzhou.jpg" alt="Hangzhou" class=hangzhou>
    <div class='allIndex'>
      <header>
        <table width="100%">
          <tr style="vertical-align:middle;">
            <td class="mui--appbar-height">
                <h1>Day Made</h1>
            </td>
            <td class="mui--appbar-height">
                <h3>You made my day</h3>
            </td>
          </tr>
        </table>
      </header>
    <h1>Personal Website Construction</h1>
    <div class="glass">
      <p style="text-align: center;">Nell Himlie will be busy between the days of May 31 and June 10. Please look forward to seeing all her work soon.</p>
      <a href="/blog">
        <button class="mui-btn mui-btn--small mui-btn--primary">Continue to the travel blog</button>
      </a>
    </div>
  </body>